#  Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. SciPy
4. Metaplotlib

## Exercise 6 - Create a markdown cell with a table of Data Science tools
| Data Science Tools |
|--------------------|
| JupyterLab         |
| Anaconda           |
| VisualStudio Code  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5

17

### Exercise 9 - Create a code cell to convert minutes to hours

In [7]:
200/60

3.3333333333333335

### Exercise 10 - Insert a markdown cell to list Objectives

#### Objectives:
- Python
- R
- SQL
- Scala
- Java
- C++
- Julia

### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Raja Kumar Vadarevula